/* CSS Document */
html,
body, main {
  height: 100%;
}

body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover,
a.active {
  color: #000000;
  font-weight: 600;
}

p {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.btn,
button,
.btn:focus,
button:focus,
.btn:hover,
button:hover {
  font-weight: 900;
}

.form-control,
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 100 #fff inset;
  font-family: 'Montserrat', sans-serif;
}

.clear {
  clear: both;
}

.v-parent {
  position: relative;
  width: 100%;
}

.v-child {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}

.d-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.img-holder {
  overflow: hidden;
}

button.btn.btn-primary,
.bg-primary,
#footer.bg-primary {
  background: #3e4095 !important;
}

button.btn.btn-danger {
  background: #af3d5e;
}

.bg-light {
  background: #f6f6f6;
}

.text-danger {
  color: #af3d5e;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

footer ul li {
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
}

footer ul li path {
  color: #fff !important;
}
