/* tablets */

@media only screen and (max-width: 768px) {
/* **************************nav section************************* */
    .head-boy {
        background: url(./assets/Landing\ Page\ Illustration\ 1.png) no-repeat center center/cover;
        height: 500px;
        width: 100%;
    }

    .nav-link:hover {
        text-decoration: underline;
        color: #18A0FB !important;
    }

    .btn-style .btn-1 {
        background-color: #3E4095;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        padding: 3%;

        color: white;
    }

    .btn-style .btn-1:hover {
        font-size: large;


    }

    .btn-style .btn-2 {
        background-color: #AF3D5E;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        padding: 3%;
        color: white;
    }


    .btn-style .btn-2:hover {
        font-size: large;


    }

    .head-boy button {
        padding: 0.5em;
        font-size: 1.2em;
        font-weight: normal;
        line-height: 1.2;
        border-radius: 5px;
        background-color: #AF3D5E;
        color: white;
        border: none;
    }
    
    .head-boy button:hover {
        background-color: #bf4D6E;
        font-size: 1.26em;
        padding: 0.6em;
    }

    /* ******************************GE STARTED CARD********************************** */


.get-started .card {
    width: 13em;
    height: 20rem;
    line-height: 2;

}





    /* ********************* mid section ********************* */

    .mid-section {
        height: auto;
    }
    
    
    .mid-section-content {
        /* margin: 8% 0; */
        background-color: #F6F6F6;
        padding: 3% 0;
    }
    
    .mid-section-content h3 {
        font-weight: 900;
        font-size: 30px;
        color: #AF3D5E;
        text-align: center;
    }
    
    .mid-section-content p {
        text-align: center;
        font-size: 18      px;
        font: normal;
    }
    
    .mid-section-content h4 {
        text-align: center;
    }
    
    .mid-sect {
        padding: 2%;
    }
    
    .mid-section-content img {
        width: 200px;
        align-content: center;
    }


    /* ****************************testimonial card****************************** */

    .testimonials .card {
        /* padding-left: 10%; */
        padding: 0 10%;
        margin: auto;
        /* width: 20em; */
        padding: 2%;
        line-height: 2;
        border-radius: 10px;
         border: 0.5px solid #18A0FB ;  
    
    
    
    }

}


@media only screen and (max-width: 375px) {

    .nav-link:hover {
        text-decoration: underline;
        color: #18A0FB !important;
    }

    .btn-style .btn-1 {
        background-color: #3E4095;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        padding: 3%;

        color: white;
    }

    .btn-style .btn-1:hover {
        font-size: large;


    }

    .btn-style .btn-2 {
        background-color: #AF3D5E;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        padding: 3%;
        color: white;
    }


    .btn-style .btn-2:hover {
        font-size: large;


    }


    .head-boy {
        background: url(./assets/Landing\ Page\ Illustration\ 1.png) no-repeat center center/cover;
        height: 450px;
        width: 100%;
    }



    .mid-section-content img {
        width: 250px;
        align-content: center;
    }


    .about-us p {
        padding-top: 2rem;
        font-size: 1em;
        line-height: 2;
        justify-content: space-around;


    }

    .about-us img {
        width: 90%;
    }

    .get-started .card {
        width: 15rem;
        height: 18rem;
        line-height: 2;
    
    }


    
    /* ********************* mid section ********************* */

    .mid-section {
        height: auto;
    }
    
    
    .mid-section-content {
        /* margin: 8% 0; */
        background-color: #F6F6F6;
        padding: 3% 0;
    }
    
    .mid-section-content h3 {
        font-weight: 900;
        font-size: 30px;
        color: #AF3D5E;
        text-align: center;
    }
    
    .mid-section-content p {
        text-align: center;
        font-size: 18px;
        font: normal;
    }
    
    .mid-section-content h4 {
        text-align: center;
    }
    
    .mid-sect {
        padding: 2%;
    }
    
    .mid-section-content img {
        width: 200px;
        align-content: center;
    }



    /* *********************************testimonial card******************************* */

    .testimonial .card {
        border: none ;
    }

}





@media only screen and (max-width: 320px) {

    .nav-link:hover {
        text-decoration: underline;
        color: #18A0FB !important;
    }

    .btn-style .btn-1 {
        background-color: #3E4095;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        padding: 3%;

        color: white;
    }

    .btn-style .btn-1:hover {
        font-size: large;


    }

    .btn-style .btn-2 {
        background-color: #AF3D5E;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        padding: 3%;
        color: white;
    }


    .btn-style .btn-2:hover {
        font-size: large;


    }


    .head-boy {
        background: url(./assets/Landing\ Page\ Illustration\ 1.png) no-repeat center center/cover;
        height: 400px;
        width: 100%;
    }


    .mid-section-content img {
        width: 250px;
        align-content: center;
    }

    .about-us p {
        padding-top: 3rem;
        font-size: 1rem;
        line-height: 1.5;
    }

    .get-started .card {
        width: 15rem;
        height: 19rem;
        line-height: 2;

    }

    .testimonials .card {
        /* padding-left: 10%; */
        padding: 0 5%;
        margin: auto;
        width: 15em;
        padding: 2%;
        line-height: 1;
        border-radius: 10px;


    }

    
    /* ********************* mid section ********************* */

    .mid-section {
        height: auto;
    }
    
    
    .mid-section-content {
        /* margin: 8% 0; */
        background-color: #F6F6F6;
        padding: 3% 0;
    }
    
    .mid-section-content h3 {
        font-weight: 900;
        font-size: 30px;
        color: #AF3D5E;
        text-align: center;
    }
    
    .mid-section-content p {
        text-align: center;
        font-size: 18px;
        font: normal;
    }
    
    .mid-section-content h4 {
        text-align: center;
    }
    
    .mid-sect {
        padding: 2%;
    }
    
    .mid-section-content img {
        width: 200px;
        align-content: center;
    }

}