* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    ;

}

/* **************************NAV SECTION**************************** */

nav {
    margin-top: 47px;
}

.nav-link {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    color: black !important;

}

.nav-link:hover {
    text-decoration: underline;
    color: #18A0FB !important;
}

.btn-style .btn-1 {
    background-color: #3E4095;
    width: 111px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    left: 1118px;
    padding: 4%;

    color: white;
}

.btn-style .btn-1:hover {
    font-weight: bolder;


}

.btn-style .btn-2 {
    background-color: #AF3D5E;
    width: 111px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    left: 1244px;
    padding: 4%;
    color: white;
}


.btn-style .btn-2:hover {
    font-weight: bolder;

}


/* ******************************END OF NAV SECTION************************************* */

/* ******************************HEADER SECTION************************************* */
.head-boy {
    /* background-image: url(./assets/Landing\ Page\ Illustration\ 1.png) no-repeat center center/cover;
    height: 600px; */
    background: url(./assets/Landing\ Page\ Illustration\ 1.png) no-repeat center center/cover;
    height: 500px;
    width: 100%;
}

.head-boy h1 {
    font-family: 'Nunito sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 2;
}

.head-boy p {
    font-family: 'Nunito sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.5;

}

.head-boy button {
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2;
    border-radius: 5px;
    background-color: #AF3D5E;
    color: white;
    border: none;
}

.head-boy button:hover {
    background-color: #bf4D6E;
    font-size: 1.26em;
    padding: 0.6em;
}


.start-up-logo img {
    width: 10%;
    margin: 0.625em 0.625em 1.250em;
    text-align: center;
}

.start-up-logo {
    margin-bottom: 7%;
    width: 100%;
}

/* ******************************MID SECTION************************************* */

.mid-section {
    height: 220px;
}


.mid-section-content {
    /* margin: 8% 0; */
    background-color: #F6F6F6;
    padding: 3% 0;
}

.mid-section-content h3 {
    font-weight: 900;
    font-size: 50px;
    color: #AF3D5E;
    text-align: center;
}

.mid-section-content p {
    text-align: center;
    font-size: 25px;
    font: normal;
}

.mid-section-content h4 {
    text-align: center;
}

.mid-sect {
    padding: 2%;
}

.mid-section-content img {
    width: 350px;
    align-content: center;
}


/* ******************************ABOUT US SECTION************************************* */

.about-us {
    padding: 7% 2%;
}

.about-us h4 {
    font-size: 1.4em;
    font-weight: 900;
    font-weight: bolder;
}

.about-us p {
    padding-top: 2rem;
    font-size: 1.2rem;
    line-height: 2em;


}

.about-us img {

    width: 100%;
    height: 359px;

}

.about-us ul {
    list-style-type: "-";
    padding: 3%;
}





/* **********************************TGET STRTED*************************************** */

.get-started button {

    padding: 0.5em;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2;
    border-radius: 5px;
    background-color: #AF3D5E;
    color: white;
    border: none;
}


.get-started button:hover {
    background-color: #bf4D6E;
    font-size: 1.26em;
    padding: 0.6em;
}


.get-started h3 {
    margin: 10%;
    font-weight: bolder;
}



.get-started .card {
    width: 18rem;
    height: 20rem;
    line-height: 2;

}


.box {
    margin-bottom: 8%;
}


.box .box-1 {
    background-color: #7DA9FF;
    color: white;
}

.box .box-3 {
    background-color: #7DA9FF;
    color: white;
}

/* *********************************TESTIMONIALS******************************* */

.testimonials h3 {
    margin: 10%;
    font-size: 2rem;
    font-weight: bolder;
}



.testimonials .card {
    /* padding-left: 10%; */
    padding: 0 10%;
    margin: auto;
    /* width: 20em; */
    padding: 2%;
    line-height: 2;
    border-radius: 10px;
    /* border: none; */



}

.card-1 {
    background-image: linear-gradient(to bottom, white 20%, #7DA9FF 20%);
    color: white;
    border: none;
}

.card-2 {
    /* border: 0.5px grey solid;
    border-top: none; */
    border: none;
    box-shadow: grey;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.card-3 {

    /* background-color: blue; */
    background-image: linear-gradient(to bottom, #fff 20%, #7DA9FF 20%);
    color: white;
    border: none;
}


/* .card-1,
.card-3 {

    width: 18rem; 
     height: 20rem;
    line-height: 2;

} */



/* *********************************Contact us******************************* */

.contact-us h3 {
    margin: 5%;
    font-weight: bolder;
}

#email {
    border: 2px red solid;
    height: 200px;
}


form {

    padding: 10%;
    border: #FFFFFF 1px solid;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 4px rgba(128, 164, 233, 0.1);

}

form input {
    width: 100%;
    padding: 10px;
    border: #FFFFFF 1px solid;
    margin: 1%;
    border-radius: 5px;
    color: grey;
    box-shadow: 0px 4px 4px 4px rgba(128, 164, 233, 0.1);
}


textarea {
    resize: none;
    padding: 10px;
    height: 10%;
    width: 100%;
    border: #FFFFFF 1px solid;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 4px rgba(128, 164, 233, 0.1);
    margin: 2% 1%;
}

.form p {
    font-size: 0.8em;
}

#submit {

    padding: 0.5em;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2;
    border-radius: 5px;
    background-color: #AF3D5E;
    color: white;
    border: none;
    width: 30%;

}

#submit:hover {
    background-color: #bf4D6E;
    font-size: 1.26em;
    padding: 0.6em;
}







/* *********************************FOOTER******************************* */
.footer {
    margin-top: 7%;
    background-color: #3E4095;
    color: white;
    line-height: 2;
    font-weight: lighter;
    padding: 7% 2%;


}



/* *********************************sign up and sign in******************************* */

.form-signup {
    background-color: #3E4095;
    color: white;
    border: none;
}

.checkbox button {
    text-align: center;
    align-content: center;
    align-self: center;
    justify-content: center;

    
}
.form-signup:hover {
    padding: 1.5%;
    background-color: indigo !important;
}

#checkbox {
    height: 30px;
    width: 30%;
    padding: 0;
    border: none;
    box-shadow:none;
}
